<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447727332307-fbc5chef0bupjdehv3g18fasj9kev14l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447727332307-fbc5chef0bupjdehv3g18fasj9kev14l</string>
	<key>API_KEY</key>
	<string>AIzaSyBmPpxrZgFIV3MnRc0Rars-trt8gpPcMp4</string>
	<key>GCM_SENDER_ID</key>
	<string>447727332307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elgendy.business</string>
	<key>PROJECT_ID</key>
	<string>businesschatting-13411</string>
	<key>STORAGE_BUCKET</key>
	<string>businesschatting-13411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447727332307:ios:f59474df180c03e1c6dd26</string>
</dict>
</plist>